@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open-sans-fontfacekit/web fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('../fonts/open-sans-fontfacekit/web fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-fontfacekit/web fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/open-sans-fontfacekit/web fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/open-sans-fontfacekit/web fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body.en :lang(fr) {
  display: none;
}
body.fr :lang(en){
  display: none;
}

p {
  font-size: large;
}

body {
    background: none repeat scroll 0 0 #fbfaf9;
    font-family: 'open_sansregular', Arial, sans-serif;

}


#nav
{
  background-color: #fbfaf9;
  margin-bottom:5px;
}


#nav:hover
{
  background-color: #ffffff;
}

a
{
  color: #5596bc;
}
a:hover
{
  color:#0070ae;
}




#aime
{
  color: #e53838;
}
